*
{
    margin: 0;
    padding: 0;
}

body {
    background-color:#6efa7c;
}
.mapdiv {
    width: 600;
    margin:auto
}
.mapdiv path {
    transition: 0.6s;
    cursor: pointer;
}
path:hover{
    fill: #fff;
  }
  path.selected{
    fill: #fff!important;
  }
  .regione{
    transition: all 200ms ease-in-out;
  }