@charset "UTF-8";

:root {
    --bs-dark: #212529;
    --bs-gray-dark: #343a40;
}

h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Roboto Bold"
    font-weight: 700;
    line-height: 1;
    color: #212529;
}

h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Roboto Bold"
    font-weight: 700;
    line-height: 2;
    color: #343a40;
}
